@font-face {
    font-family: "Twemoji Country Flags";
    src: url("https://cdn.jsdelivr.net/npm/country-flag-emoji-polyfill@0.1.8/dist/TwemojiCountryFlags.woff2") format("woff2");
    unicode-range: U+1F1E6-1F1FF, U+1F3F4, U+E0062-E0063, U+E0065, U+E0067, U+E006C, U+E006E, U+E0073, U+E0077, U+E007F;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 150px;
    border-radius: 0;
    border: 0px;
    border-bottom: 3px solid #ccc;
    text-align: center;
    font-family: 'Monaco';
    text-transform: uppercase;
}

input[type="text"]:focus {
    outline: none;
    border-color: #002FA7;
    border: 0px;
    border-bottom: 3px solid #002FA7;
}

button {
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
    border: 0px;
    border-bottom: 3px solid #002FA7;
    background-color: #002FA7;
    color: white;
}

.cuber-info {
    display: flex;
    gap: 20px;
    padding: 10px;
    font-family: "Twemoji Country Flags", 'helvetica', sans-serif;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.avatar {
    max-height: 100px;
    max-width: 100px;
    object-fit: contain;
}

.other-info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-family: "Twemoji Country Flags", sans-serif;
}

.other-info a {
    text-decoration: none;
    color: #002FA7;
    font-weight: bold;
}

table th.event-name,
table td.event-name {
    text-align: left;
}

table td.event-data,
table th.event-data {
    text-align: end;
}

table {
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 646px) {
    .cuber-info {
        flex-direction: column;
        align-items: center;
    }

    .other-info {
        justify-content: center;
    }

    form {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}